name: cli_pkg
version: 2.0.3
description: Grinder tasks for releasing Dart CLI packages.
homepage: https://github.com/google/dart_cli_pkg

environment:
  sdk: '>=2.14.0 <3.0.0'

dependencies:
  archive: ^3.1.2
  async: ^2.5.0
  charcode: ^1.2.0
  collection: ^1.15.0
  crypto: ^3.0.0
  grinder: ^0.9.0
  http: ^0.13.0
  js: ^0.6.3
  meta: ^1.3.0
  node_interop: ^2.0.0
  node_preamble: ^2.0.0
  package_config: ^2.0.0
  path: ^1.8.0
  pub_semver: ^2.0.0
  pubspec_parse: ^1.0.0
  string_scanner: ^1.1.0
  test: ^1.16.7
  test_process: ^2.0.0
  xml: ^5.0.2
  yaml: ^3.1.0

dev_dependencies:
  sass_analysis:
    git: {url: git://github.com/sass/dart-sass, path: analysis}
  shelf: ^1.0.0
  shelf_test_handler: ^2.0.0
  test_descriptor: ^2.0.0
  tuple: ^2.0.0-nullsafety.0
