name: cli_pkg
version: 1.3.0
description: Grinder tasks for releasing Dart CLI packages.
homepage: https://github.com/google/dart_cli_pkg

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  archive: ^3.1.2
  async: ^2.5.0
  charcode: ^1.2.0
  collection: ^1.15.0
  crypto: ^3.0.0
  grinder: ^0.9.0-nullsafety.0
  http: ^0.13.0
  js: ^0.6.3
  meta: ^1.3.0
  mustache: #"^1.2.0"
    git: {url: git://github.com/nex3/mustache, ref: nnbd}
  node_interop: #"^2.0.0"
    git:
      url: git://github.com/Awjin/node-interop
      path: node_interop
      ref: null-safe-interop
  node_preamble: ^2.0.0
  package_config: ^2.0.0
  path: ^1.8.0
  pub_semver: ^2.0.0
  pubspec_parse: ^1.0.0
  string_scanner: ^1.1.0
  test: ^1.16.6
  test_process: ^2.0.0
  xml: ^5.0.2
  yaml: ^3.1.0

publish_to: none

dev_dependencies:
  pedantic: ^1.11.0
  sass_analysis:
    git: {url: git://github.com/sass/dart-sass, path: analysis}
  shelf: ^1.0.0
  shelf_test_handler: ^2.0.0
  test_descriptor: ^2.0.0
  tuple: ^2.0.0-nullsafety.0
